.layout-container{
    
    .member-profile-wrapper{
        margin: 20px auto;
        width:80%;
        height: 600px;
        display: flex;
        background-color: $white;

        .member-profile {
            height:600px; 
            width:30%; 
            border: 1px solid $lightgrey; 
            position: relative;
            background-color: $white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            display: inline-block;
            .user-profile-pic{
                margin: 10px auto;
                width: 120px;
                padding-top: 20px;
                .img {
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                }
            }

            .member-pro{
                width: 30%;
                display: inline;
                text-align: center;
                padding: 5px;

            }


            .profile-name{
                width:50%;
                display: inline;
                text-align: center;
                //text-transform: capitalize;
                padding: 5px;
                font-size: 20px;
                color: $lightgrey;
            }
            .profile-card-coloumn{
                width: 30%;
                text-align: center;
                padding: 5px;
                display: inline-block;
            }
            .like-button{
                width: 100%;
                height: 40px;
                bottom: 0px;
                font-size: 20px;
                font-weight: 600;
                color: #ffff;
                background-color: #ef62bc;
                position: absolute;
            }

            .member-list-wraper{
             width:100%;   
            }
            
        }

        .member-wall-wraper{
            width:50%;
            border: 1px solid $lightgrey; 
            background-color: #c9c9c9;
            display: inline-block;
        }

        
        .member-list-wraper{
            width: 30%;
            border: 1px solid $lightgrey; 
            a{
              text-decoration: none;
              text-transform: capitalize;
              color: #5a5757;
            }
            .member-list{
                height: 40px;
                font-size: 20px;
                font: 16px;
                padding: 7px;
               // background-color: #f5f5f5;
               // border-bottom: 1px dotted #c8c8c8;
            }

        }
       
        
        .member-profile-image-sm{

            border-radius: 50%;
            width: 10%;
            height: 30px;
            //border: 1px solid;
            display: inline-block;
            .img-sm {
                border-radius: 50%;
                width: 100%;
                height: 30px;
            }
        }

    }
    
}




